$main_color: #5761CD;
$expired_color: #FF3466;
$near_deadline_color: #F3CA3E;
$afford_color: #2BCA40;

.Background{
  position: relative;
  width: 100%;
  background-color: #FFF;
  overflow: hidden;

  .BackgroundThema{
    position: absolute;
    top: 0;
    bottom: 56vh;
    width: 100%;
    background: $main_color;
  }

  .Content{
    position: relative;

    .SearchBox{
      margin-top: 6.5vh;
      width: 100%;
      text-align: center;

      .fa-search{
        position: absolute;
        font-size: 4vh;
        left: 8%;
        top: 1%;
      }

      .SearchInput{
        height: 5vh;
        width: 85%;
      }
    }

    .ListComponent{
      margin: 4vh 7.5%;
      width: 85%;
      overflow: hidden;

      .ProjectBox{
        background-color: #FFF;
        width:45%;
        float: left;
        height: 60vh;
        box-shadow:5px 5px 5px rgba(0,0,0,0.4);


        .TitleBox{
          overflow: hidden;
          width: 90%;
          margin-left: 5%;

          .fa-file-alt{
            font-size: 6vh;
            float: left;
            margin: 3vh 0vh;
          }
          .BoxTitle{
            float: left;
            margin: 2vh;
            margin-top: 4vh;
            font-size: 1.5rem;
            font-weight: bold;
          }
          .ProjectOption{
            float: right;
            font-size: 3vh;
            margin: 3vh 0vh;
          }
        }

        .SortFilterBox{
          overflow: hidden;
          width: 90%;
          margin-left: 5%;
          border-bottom: 1px solid;

          .ProjectFilter{
            float: right;
            margin: 1vh;
          }
          .ProjectSort{
            float: right;
            margin: 1vh;
          }
        }
        .ProjectList{

          .AddProject{
            margin: 2vh 8%;
            color: #181818;
          }

          .Projects{
            width: 85%;
            margin: 2vh 8%;

            .ProjectCategory{
              vertical-align: middle;
            }
            .ProjectTitle{
              vertical-align: middle;
            }
            .ProjectDiscipline{
              vertical-align: middle;
            }
            .TaskCountExpiredInProject{
              width: 35px;
              height: 35px;
              vertical-align: middle;
              text-align: center;
              background-color: $expired_color;
            }
            .TaskCountNearDeadlineInProject{
              width: 35px;
              height: 35px;
              vertical-align: middle;
              text-align: center;
              background-color: $near_deadline_color;
            }
            .TaskCountAffordInProject{
              width: 35px;
              height: 35px;
              vertical-align: middle;
              text-align: center;
              background-color: $afford_color;
            }
          }
        }
      }

      .MemberBox{
        background-color: #FFF;
        width:45%;
        float: right;
        height: 60vh;
        box-shadow:5px 5px 5px rgba(0,0,0,0.4);

        .TitleBox{
          overflow:hidden;
          width: 90%;
          margin-left: 5%;

          .fa-users{
            float: left;
            font-size: 6vh;
            margin: 3vh 0vh;
          }

          .BoxTitle{
            float: left;
            margin: 2vh;
            margin-top: 4vh;
            font-size: 1.5rem;
            font-weight: bold;
          }
          .MemberOption{
            float: right;
            font-size: 3vh;
            margin: 3vh 0vh;
          }
        }

        .SortFilterBox{
          overflow: hidden;
          width: 90%;
          margin-left: 5%;
          border-bottom: 1px solid;

          .MemberFilter{
            float: right;
            margin: 1vh;
          }
          .MemberSort{
            float: right;
            margin: 1vh;
          }
        }
        .MemberList{

          .Members{
            width: 85%;
            margin: 2vh 8%;

            .fa-user{
              font-size: 4vh;
            }

            .TaskCountExpiredOnMember{
              width: 35px;
              height: 35px;
              vertical-align: middle;
              text-align: center;
              background-color: $expired_color;
            }
            .TaskCountNearDeadlineOnMember{
              width: 35px;
              height: 35px;
              vertical-align: middle;
              text-align: center;
              background-color: $near_deadline_color;
            }
            .TaskCountAffordOnMember{
              width: 35px;
              height: 35px;
              vertical-align: middle;
              text-align: center;
              background-color: $afford_color;
            }
          }
        }
      }
    }
  }
}
